body {
  width: 960px;
  margin: 0px auto;
  padding: 25px;
}

.cell {
  width:25px;
  height: 25px;
  border: 1px solid black;
  background: white;
}

table{
  border-collapse: collapse;
}

td:hover {
  background: grey;
}

.active-cell {
  width:25px;
  height: 25px;
  border: 1px solid black;
  background: black;
}
